@tailwind utilities;
@import "tailwindcss";

/* Car Card Styles */
.car-card {
  @apply w-100 backdrop-blur-xl bg-gradient-to-br from-slate-800/80 to-slate-800/60 rounded-3xl overflow-hidden border border-slate-700/50 hover:border-blue-500/50 transition-all duration-500 shadow-xl hover:shadow-blue-500/20;
}

.car-img {
  @apply w-full h-full object-cover group-hover:scale-110 transition-transform duration-700;
}

/* Status Badge */
.status-badge {
  @apply px-4 py-2 rounded-full text-xs border backdrop-blur-md font-medium capitalize;
}

.available-badge {
  @apply  bg-green-500/10 text-green-400 border-green-500/50 ;
}

.reserved-badge {
  @apply bg-yellow-500/10 text-yellow-400 border-yellow-500/50;
}

.sold-badge {
  @apply bg-red-500/10 text-red-400 border-red-500/50;
}

/* Details Grid */
.details-grid {
  @apply grid grid-cols-2 gap-4 mb-6 p-4 rounded-xl bg-slate-800/30 border border-slate-700/30;
}

.details-item {
  @apply flex items-center gap-3;
}