@tailwind utilities;
@import 'tailwindcss';

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-fade-slide {
  animation: fadeSlide 0.6s ease-out;
}
